<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BioMAPT UI</title>
</head>
<body>
    <form action="/" method="POST">
        <h2>BioMAPT UI</h2>
        <br/>
	<button type="submit" value="start" name="action" {{ "disabled" if running }}>START</button>
	<button type="submit" value="stop" name="action" {{ "disabled" if not running }}>STOP</button>
        <br/>
        <table>
            <caption>Picture Frequency</caption>
            <tr>
                <th>4 Hrs</th>
                <th>6 Hrs</th>
                <th>12 Hrs</th>
                <th>24 Hrs</th>
                <th>Custom</th>
            </tr>
            <tr>
                <td>
			<input type="radio" value="4" name="freq" {{ "checked" if freq == 4 else "" }} >
                </td>
                <td>
                    <input type="radio" value="6" name="freq" {{ "checked" if freq == 6 else "" }} >
                </td>
                <td>
                    <input type="radio" value="12" name="freq" {{ "checked" if freq == 12 else "" }} >
                </td>
                <td>
                    <input type="radio" value="24" name="freq" {{ "checked" if freq == 24 else "" }} >
                </td>
                <td>
                    <input type="radio" value="custom" name="freq" disabled >
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Plate Location</th>
                <th>Contents</th>
                <th>Take picture?</th>
            </tr>
            {% for i in range(9,-1,-1) %}
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>
                        <input type="text" id="plt{{ i }}_name" value="{{plates[i][1]}}" name="plt{{ i }}_name"><br>
                    </td>
                    <td>
                        <input type="checkbox" id="plt{{ i }}_status" {{ 'checked' if plates[i][2] else '' }} name="plt{{ i }}_status">
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" name="action" value="save">Save Settings</button>
    </form>
</body>
</html>
