<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winner of Printables Contest</title>
</head>
<body>
    <p>BioMAPT UI</p>
    </br>
            <form action="/register_press" method="POST">
                <button type="submit" value="start" name="action">START</button>
                <button type="submit" value="stop" name="action">STOP</button>
            </form>
    </br>


    <table>
        <caption>Picture Frequency</caption>
    <tr>
        <th>4 Hrs</th>
        <th>6 Hrs</th>
        <th>12 Hrs</th>
        <th>24 Hrs</th>
        <th>Custom</th>
    </tr>
    <tr>
        <td>
            <input type="radio" id="4Hr_choice" name="radAnswer">
        </td>
        <td>
            <input type="radio" id="6Hr_choice" name="radAnswer">
        </td>
        <td>
            <input type="radio" id="12Hr_choice" name="radAnswer">
        </td>
        <td>
            <input type="radio" id="24Hr_choice" name="radAnswer">
        </td>
        <td>
        <form>
            <input type="text" id="CustomHr_choice" name="radAnswer"><br>
        </form>
        </td>
    </tr>
    </br></br>
    <table>
    <tr>
        <th>Plate Location</th>
        <th>Contents</th>
        <th>Take picture?</th>
    </tr>
    <tr>
        <td>10</td>
        <td>
            <form>
                <input type="text" id="plt10_name" name="plt10_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt10_status" name="plt10_status">
        </td>
    </tr>
    <tr>
        <td>9</td>
        <td>
            <form>
                <input type="text" id="plt9_name" name="plt9_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt9_status" name="plt9_status">
        </td>
    </tr>
        <tr>
        <td>8</td>
        <td>
            <form>
                <input type="text" id="plt8_name" name="plt8_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt8_status" name="plt8_status">
        </td>
    </tr>
        <tr>
        <td>7</td>
        <td>
            <form>
                <input type="text" id="plt7_name" name="plt7_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt7_status" name="plt7_status">
        </td>
    </tr>
        <tr>
        <td>6</td>
        <td>
            <form>
                <input type="text" id="plt6_name" name="plt6_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt6_status" name="plt6_status">
        </td>
    </tr>
        <tr>
        <td>5</td>
        <td>
            <form>
                <input type="text" id="plt5_name" name="plt5_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt5_status" name="plt5_status">
        </td>
    </tr>
        <tr>
        <td>4</td>
        <td>
            <form>
                <input type="text" id="plt4_name" name="plt4_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt4_status" name="plt4_status">
        </td>
    </tr>
        <tr>
        <td>3</td>
        <td>
            <form>
                <input type="text" id="plt3_name" name="plt3_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt3_status" name="plt3_status">
        </td>
    </tr>
        <tr>
        <td>2</td>
        <td>
            <form>
                <input type="text" id="plt2_name" name="plt2_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt2_status" name="plt2_status">
        </td>
    </tr>
        <tr>
        <td>1</td>
        <td>
            <form>
                <input type="text" id="plt1_name" name="plt1_name"><br>
            </form>
        </td>
        <td>
            <input type="checkbox" id="plt1_status" name="plt1_status">
        </td>
    </tr>
    </table>
    <button type="button">Save Settings</button>
</body>
</html>
